In [5]:

#Write a program which takes input a list of strings and removes strings until all the remaining
#strings are of equal lengths . Assume that in the input list , there will be at-least two strings of
#the same length . For simplicity , assume that list will not contain equal length strings for
#multiple lengths
example_input =['abc','abcd','acbde','acbgeh','qwert']
l=[]
l1=[]
out_put=[]
for ele in example_input:
    l.append(len(ele))
    # the item which is to be removed
for i in l:
    if l.count(i)>1:
        l1.append(i)
for ele in example_input:
    if len(ele)==5:
        out_put.append(ele)
print(out_put)

['acbde', 'qwert']

In [3]:
l1

[5, 5]

In [9]:
#harshad no check in a range
def harshad(n):
    ele=str(n)
    sum=0
    check=False
    for num  in ele:
            sum=sum+int(num)
    if n%sum==0:
        check=True
    return check
        
lower = int(input("ENTER LOWEST NUMBER : "))
upper = int(input("ENTER HIGHEST NUMBER : "))
print("HARSHAD NUMBERS WITHIN RANGE({},{}) ARE -".format(lower,upper))
for i in range(lower,upper+1):
  if harshad(i):
    print(i,end = " ")

ENTER LOWEST NUMBER :  1
ENTER HIGHEST NUMBER :  100

HARSHAD NUMBERS WITHIN RANGE(1,100) ARE -
1 2 3 4 5 6 7 8 9 10 12 18 20 21 24 27 30 36 40 42 45 48 50 54 60 63 70 72 80 81 84 90 100

In [24]:
# Generate a list containing 50 random integers between 10 to 100. Write a program which
#removes all the values which are divisible by 3 from the list . Then it subtracts 1 from all the
#remaining values and then removes all the values divisible by 5 from the list 

import numpy as np
l=[]
res=[]
result=[]
x=np.random.randint(10,101,50)
for i in x:
    if i%3!=0:
        l.append(i)
print('after removing all the elements divisible by 3 new list{}'.format(l))
for num in l:
    result.append(num+1)
print('after subtrcation new list{}'.format(list(result)))
for ele in result:
    if ele%5!=0:
        res.append(ele)
print('after removing all the elements divisible by 5 new list{}'.format(list(res)))

after removing all the elements divisible by 3 new list[88, 64, 37, 55, 76, 88, 65, 94, 17, 10, 65, 94, 28, 41, 58, 23, 67, 43, 83, 77, 94, 46, 49, 29, 77, 83, 64, 55, 20, 38, 91, 32]
after subtrcation new list[89, 65, 38, 56, 77, 89, 66, 95, 18, 11, 66, 95, 29, 42, 59, 24, 68, 44, 84, 78, 95, 47, 50, 30, 78, 84, 65, 56, 21, 39, 92, 33]
after removing all the elements divisible by 5 new list[89, 38, 56, 77, 89, 66, 18, 11, 66, 29, 42, 59, 24, 68, 44, 84, 78, 47, 78, 84, 56, 21, 39, 92, 33]

In [30]:
#8. Write a function which takes an integer n as input and returns sum of all even numbers in
#the first n terms of a fibonacci series 
import math
def isPerfectSquare(x):
    s = int(math.sqrt(x))
    return s*s == x
 
# Returns true if n is a Fibonacci Number, else false
 
 
def isFibonacci(n):
 
    # n is Fibonacci if one of 5*n*n + 4 or 5*n*n - 4 or both
    
    return isPerfectSquare(5*n*n + 4) or isPerfectSquare(5*n*n - 4)
 
 
# A utility function to test above functions
l=[]
lower = int(input("ENTER LOWEST NUMBER : "))
upper = int(input("ENTER HIGHEST NUMBER : "))
print("FIBONACCI NUMBERS WITHIN RANGE({},{}) ARE -".format(lower,upper))
for i in range(lower, upper+1):
    if (isFibonacci(i) == True):
        l.append(i)
print(l)
sum=0

res = [num for num in l if num %2== 0]
print(res)
for ele in res:
    sum+=ele
print(sum)

ENTER LOWEST NUMBER :  1
ENTER HIGHEST NUMBER :  10

FIBONACCI NUMBERS WITHIN RANGE(1,10) ARE -
[1, 2, 3, 5, 8]
[2, 8]
10

In [48]:
#Imagine a circle and two squares: a smaller and a bigger one. For the smaller one, the circle
#is a circumcircle and for the bigger one, an incircle
import math
class area:
    def __init__(self, radius):
        self.r = radius
class area1(area):
    def __init__(self, radius):
        # Calling init of parent class
        area.__init__(self, radius)
    def area2(self):
        small_square=math.sqrt(2)*self.r*self.r
        print(int(small_square))
        large_square=4*self.r*self.r
        print(int(large_square))
        return round(large_square-small_square,2)
R=area1(9)
R.area2()

114
324

209.45

In [51]:
# given a list , create a dictionary with counts of unique elements that it contains input list =
#['a','b','a','a','b','c','c','a','b'] output dictionary = {'a':4,'b':3,'c':2} 


def CountFrequency(my_list):   
        count={}
        for i in my_list:
            count[i] = count.get(i, 0) + 1
        return count
    
 
 

my_list =['a','b','a','a','b','c','c','a','b']
print(CountFrequency(my_list))

{'a': 4, 'b': 3, 'c': 2}

In [2]:
#Write a program which takes input any string and then replaces all the letters which are keys in
#the above dictionary with their corresponding values in the dictionary
def string_remap(input_string,dict_map):
    
    x=list(input_string)
    
    for i,char in enumerate(x):
        
        if char in dict_map.keys():
            x[i]=dict_map[char]
            
    remapped_string=''.join(x)
    return(remapped_string)
string_remap('abjected',{'a':'e','b':'$','c':'q','d':'p','j':'n'})

'e$neqtep'

In [ ]:
#Use dictionary comprehension to create a dictionary with keys : t1,t2,t3.......t100
#which takes random integers from the range [1,100] as their corresponding values. Write a
#function which takes this dictionary as input and returns number of unique values from all
#key:value pairs in that dictionary

In [7]:
import numpy as np
d ={'t'+str(i):np.random.randint(1,101) for i in range(1,101)}
print(d)
def dict_unique_vals(some_dict):
    
    unique_vals=set(some_dict.values())
    
    return(len(unique_vals))
dict_unique_vals(d)

{'t1': 50, 't2': 15, 't3': 11, 't4': 34, 't5': 89, 't6': 79, 't7': 6, 't8': 9, 't9': 46, 't10': 33, 't11': 90, 't12': 61, 't13': 38, 't14': 39, 't15': 1, 't16': 100, 't17': 65, 't18': 32, 't19': 20, 't20': 65, 't21': 11, 't22': 47, 't23': 10, 't24': 2, 't25': 9, 't26': 87, 't27': 47, 't28': 87, 't29': 63, 't30': 70, 't31': 100, 't32': 12, 't33': 72, 't34': 33, 't35': 35, 't36': 33, 't37': 87, 't38': 7, 't39': 50, 't40': 4, 't41': 95, 't42': 61, 't43': 33, 't44': 21, 't45': 17, 't46': 29, 't47': 30, 't48': 92, 't49': 16, 't50': 98, 't51': 79, 't52': 54, 't53': 60, 't54': 27, 't55': 43, 't56': 73, 't57': 95, 't58': 44, 't59': 35, 't60': 79, 't61': 2, 't62': 58, 't63': 79, 't64': 46, 't65': 49, 't66': 32, 't67': 94, 't68': 47, 't69': 49, 't70': 98, 't71': 75, 't72': 38, 't73': 20, 't74': 54, 't75': 25, 't76': 13, 't77': 40, 't78': 40, 't79': 88, 't80': 1, 't81': 28, 't82': 70, 't83': 2, 't84': 9, 't85': 1, 't86': 21, 't87': 9, 't88': 81, 't89': 31, 't90': 65, 't91': 15, 't92': 66, 't93': 66, 't94': 81, 't95': 85, 't96': 7, 't97': 68, 't98': 65, 't99': 47, 't100': 40}

58

In [ ]:
#10. consider this list of addresses
['H-73, MDT, Powai , Mumbai' , '1604, SS, Hyderabad' ,'B block 73, Adyar, Chennai']
Extract cities from each address, use list comprehension .
Hints :
Write list comprehension to convert this to list of lists [ use split function on strings]
Extract last element of each of these individual list using index -1, using list comprehension

In [13]:
x=['H-73, MDT, Powai , Mumbai' , '1604, SS, Hyderabad' ,'B block 73, Adyar, Chennai']

cities=[elem.split(',')[-1] for elem in x]

In [14]:
cities

[' Mumbai', ' Hyderabad', ' Chennai']

In [ ]:
#Write a function which takes input an english sentence of any length , and a set containing
#some stop words. Function then removes all stop words from the sentence and returns a
#dictionary where keys are all unique words in the sentence and values are their count in the
#sentence .

In [15]:
def count_dict(sent,stop_words):
    
    all_words=sent.split()
    
    sans_stop=[word for word in all_words if word not in stop_words]
    
    d={}
    
    for word in set(sans_stop):
        d[word]=sans_stop.count(word)
        
    return(d)

In [16]:
sent='it is true for all that that that that that that that refers to is not the same that that that that refers to'
stop={'is','to','it','the'}
count_dict(sent,stop)

{'all': 1, 'for': 1, 'that': 11, 'not': 1, 'same': 1, 'true': 1, 'refers': 2}